# vi swap file
*.swp
# emacs temp file
.#*
# Finder files
.DS_Store
._*

*.key

# Ignore vagrant image files
.vagrant

# Ignore files from the docker registry
docker-simple/registry/volume
docker-swarm/registry/volume

# Ignore jar files
*.jar

# Ignore ansible retry files
playbook.retry
